<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Gasoline Gallery</title>
  </head>
  <body>
    <div class="wrapper">
      <h2>Users</h2>
      <% users.forEach(user => { %>
        <div class="comment">
          <span class="comment-username"><%= user.username %>: </span>
          <a href="/users/<%= user.id %>/posts">users posts</a>
        </div>
        <% }); %>
    </div>
  </body>
</html>
